.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2em 1.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.banner__texto {
    display: inline-block;
    width: 316px;
    font-weight: 500;
    line-height: 24px;
    margin: 8px 0 24px 0;
}

.banner__pesquisa {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    width: 380px;
    height: 44px;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    padding-left: 46px;
    background: url("../img/lupa.svg") no-repeat;
    background-size: 24px;
    background-position: 66px;
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 330px;
        padding-top: 84px;
        box-sizing: border-box;
    }
    
    .banner__titulo {
        font-size: 36px;
        line-height: 54px;
    }

    .banner__texto {
        width: auto;
        margin: 0 0 26px 0;
    }

    .banner__pesquisa {
        width: 476px;
    }

    .banner__pesquisa::placeholder {
        background-position: 115px;
    }
}

@media screen and (min-width: 1728px) {
    .banner__texto {
        display: block;
    }

    .banner__pesquisa {
        width: 586px;
        height: 56px;
    }

    .banner__pesquisa::placeholder {
        background-position: 160px;
    }
}