.carrossel__titulo {
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 8px 0;
    line-height: 27px;
}

.swiper {
    text-align: center;
}

.swiper-pagination {
    position: initial;
    padding: 12px 0 16px 0;
}

.swiper-pagination-bullet-active {
    background: var(--azul-degrade);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.cartao {
    background-color: var(--branco);
    display: grid;
    grid-template-areas: 
    "titulo imagem"
    "livro-titulo imagem"
    "texto imagem"
    "icones botao";
    align-items: center;
    width: 88.8vw;
    height: 295px;
    margin: 20px 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px 16px 23px;
    box-sizing: border-box;
}

.cartao__titulo {
    grid-area: titulo;
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.cartao__livro-titulo {
    grid-area: livro-titulo;
    color: var(--azul-marinho);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.cartao__texto {
    grid-area: texto;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    width: 34.5vw;
    line-height: 21px;
}

.cartao__icones {
    grid-area: icones;
    padding-top: 8px;
}

.cartao__icones img {
    width: 48px;
    height: 48px;
}

.cartao__imagem {
    grid-area: imagem;
    width: auto;
    align-self: flex-start;
    justify-self: flex-end;
}

.cartao__botao {
    grid-area: botao;
    text-align: center;
    justify-self: flex-end;
    width: 161px;
    line-height: 48px;
    font-weight: 700;
    background-color: var(--laranja);
    color: var(--branco);
}

.carrossel__titulo--mais-vendidos {
    padding: 24px 0 8px 0;
}

.cartao--autora-do-mes {
    display: grid;
    grid-template-areas: 
    "estrelas imagem"
    "titulo imagem"
    "autora imagem"
    "texto imagem"
    "icones botao";
}

.cartao__estrelas {
    grid-area: estrelas;
    width: auto;
}

.cartao__autora {
    grid-area: autora;
    color: var(--azul-marinho);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.cartao--autora-do-mes .cartao__texto {
    width: 152px;
}

@media screen and (min-width: 1024px) {    
    .carrossel__titulo {
        padding: 53px 0 16px;
        font-size: 26px;
        line-height: 39px;
    }
    
    .swiper {
        width: 78vw;
    }

    .swiper-pagination {
        padding: 32px 0 77.5px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }

    .swiper-button-prev {
        content: url("../img/seta-esquerda.svg");
        width: 48px;
        height: 48px;
        display: block;
        top: 65%;
        left: -2px;
    }

    .swiper-button-next {
        content: url("../img/seta-direita.svg");
        width: 48px;
        height: 48px;
        display: block;
        top: 65%;
        right: -2px;
    }

    .swiper-slide img {
        width: 192px;
    }

    .cartao {
        width: 57.4vw;
        height: 266px;
        margin: 61.5px auto 48px auto;
        align-items: flex-start;
        padding: 23px 23px 22px 16px;
    }

    .cartao--recomendacao .cartao__texto {
        font-size: 1rem;
        line-height: 24px;
        width: auto;
    }

    .cartao--autora-do-mes .cartao__texto {
        width: auto;
    }

    .cartao__icones, .cartao__botao {
        align-self: flex-end;
    }

    .cartao__imagem, .cartao__botao {
        width: 146px;
    }

    @media screen and (min-width: 1728px) {
        .carrossel {
            padding-bottom: 114px;
        }
        
        .carrossel__titulo {
            font-size: 32px;
            line-height: 48px;
            padding: 42px 0 16px 0;
        }

        .carrossel__container {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .swiper {
            width: 43vw;
            margin: 0;
        }

        .swiper-pagination {
            padding: 74px 0 40px;
        }

        .cartao {
            margin: 0 0 0 46px;
            width: 34vw;
            height: 278px;
        }

        .cartao__titulo {
            font-size: 32px;
            line-height: 48px;
        }

        .cartao__icones {
            padding-top: 10px;
        }

        .carrossel__titulo--mais-vendidos {
            padding-top: 64px;
        }
    }
}