.contato {
    background-color: var(--branco);
    padding: 24px 24px 30px ;
}

.contato__titulo, .contato__texto, .contato__email, .contato__email::placeholder {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-weight: 500;
    line-height: 27px;
    font-size: 18px;
}

.contato__texto {
    font-weight: 300;
    line-height: 24px;
    margin: 8px 0 24px 0;
}

.contato__email {
    border: 1px solid var(--azul-marinho);
    border-radius: 24px;
    width: 380px;
    height: 44px;
    padding-left: 24px;
    box-sizing: border-box;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    padding-left: 34px;
    background: url("../img/Email.svg");
    background-size: 24px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: flex-end;
        padding: 30px 0 53px;
    }
    
    .contato__titulo {
        display: inline-block;
        font-size: 24px;
        list-style: 36px;
        width: 353px;
    }
    
    .contato__texto {
        width: 353px;
        grid-column: 1;
        margin: 19px 0 0;
    }

    .contato__email {
        width: 327px;
        grid-column: 2;
        grid-row: 1 / span 2;
        justify-self: flex-start;
        margin-left: 30px;
    }
}