.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    position: relative;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 8px
}

.cabecalho__menu-hamburguer {
    width: 80px;
    height: 80px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.menu__botao {
    display: none;
}

.menu__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.png");
}

.menu__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.menu-lista {
    display: none;
    z-index: 2;
    position: absolute;
    top: 100%;
    width: 70vw;
    background-color: var(--branco);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.menu__botao:checked~.menu-lista {
    display: block;
}

.menu-lista__titulo {
    padding: 1.5em 0 0.5em 1.5em;
    line-height: 24px;
    font-weight: 700;
    color: var(--laranja);
}

.menu-lista__item {
    padding: 1em 1.5em;
    line-height: 24px;
}

.menu-lista__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.menu-lista__item:hover {
    background: var(--azul-degrade);
}

.menu-lista__item:hover>.menu-lista__link {
    -webkit-text-fill-color: var(--branco);
}

.cabecalho__titulo, .cabecalho__opcoes{
    display: none;
}

.cabecalho__icone-titulo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: center;
        padding: 0;
    }

    .cabecalho__container {
        gap: 0;
    }
    
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__logo {
        margin-right: 11px;
        align-self: auto;
    }

    .cabecalho__titulo {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 30px;
        display: block;
        margin-top: 10px;
    }

    .cabecalho__titulo-destaque {
        font-weight: 700;
    }

    .menu-lista {
        top: 77%;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        color: var(--branco);
        background: var(--azul-degrade);
    }

    .opcoes__item {
    text-transform: uppercase;
    padding: 10px;
    }

    .opcoes__botao:checked~.menu-lista {
        display: block;
    }

    .menu-lista {
        width: auto;
        box-shadow: none;
    }

    .cabecalho__opcoes {
        display: flex;
        gap: 42px;
        margin: 0 68px 0 68px;
        line-height: 24px;
    }

    .cabecalho__icone-favoritos {
        display: none;
    }

    .cabecalho__icone-carrinho {
        margin-right: 61px;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 80px 0 80px;
    }

    .cabecalho__icone {
        display: flex;
        align-items: center;
    }

    .cabecalho__icone-titulo {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
}