.topicos {
    text-align: center;
    background: var(--azul-degrade);
    border-top: 16px solid #FFFFFF;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding: 24px 0 32px 0;
    text-transform: uppercase;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 15.8px 24px;
}

.topicos__item {
    background-color: var(--laranja);
    padding: 16px 24px;
}

.topicos__link {
    color: var(--branco);
    line-height: 21px;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos {
        height: auto;
        padding: 32px 0;
        box-sizing: border-box;
        border: none;
    }

    .topicos__titulo {
        font-size: 24px;
        line-height: 36px;
        padding: 0 0 40px;
    }

    .topicos__lista {
        gap: 24px;
        padding: 0;
        width: 50vw;
        margin: 0 auto;
    }

    .topicos__item {
        padding: 24px 32px;
    }

    .topicos__link {
        font-size: 24px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding-top: 64px;
        height: 418px;
    }

    .topicos__titulo {
        font-size: 32px;
        list-style: 48px;
    }

    .topicos__lista {
        width: 827px;
        margin: 0 auto;
    }
}